[submodule "pad-map-service"]
	path = pad-map-service
	url = https://github.com/aXeeDENt/pad-map-service.git
  
[submodule "package-registry"]
	path = package-registry
	url = https://github.com/MaxKostov/package-registry-service.git

[submodule "guild-service"]
	path = guild-service
	url = https://github.com/MaxKostov/guild-service.git
[submodule "pad-monster-raid-service"]
	path = pad-monster-raid-service
	url = https://github.com/aXeeDENt/pad-monster-raid-service.git
