[submodule "pad-map-service"]
	path = pad-map-service
	url = https://github.com/aXeeDENt/pad-map-service.git
  
[submodule "package-registry"]
	path = package-registry
	url = https://github.com/MaxKostov/package-registry-service.git

[submodule "guild-service"]
	path = guild-service
	url = https://github.com/MaxKostov/guild-service.git
[submodule "pad-monster-raid-service"]
	path = pad-monster-raid-service
	url = https://github.com/aXeeDENt/pad-monster-raid-service.git
[submodule "tamagotchi-service"]
	path = tamagotchi-service
	url = https://github.com/dmitrycvs/tamagotchi-service.git
[submodule "notification-service"]
	path = notification-service
	url = https://github.com/dmitrycvs/notification-service.git
[submodule "battle-service"]
	path = battle-service
	url = https://github.com/filipel2004/battle-service.git
[submodule "user-management-service"]
	path = user-management-service
	url = https://github.com/filipel2004/user-management-service.git
